#ch_list {
    position: absolute;
    width: 45%;
    list-style-type: none;
    margin: 7.8125vw 0vw;
    padding: 0px;
}

#ch_list>li {
    color: #0abab5;
    font-size: 3.125vw;
    opacity: 0.8;
    margin: 0.4vw 0vw;
    white-space: nowrap;
}

#ch_list>li>div {
    display: inline-block;
    vertical-align: top;
}

ul#ch_list>li.focus>div {
    color: #FFF;
    background: #00877C;
    opacity: 1;
}

#ch_list>li>div.ch_num {
    padding: 0% 1% 0% 4%;
    background: #111111;
    text-align: right;
    width: 4ch;
}

#ch_list>li>div.ch_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #2a2a2a;
    width: 70%;
    padding: 0% 0% 0% 3%;
}