/* color list
  #56D0CB
  #34B9B4
  #169F9A
  #B8F4F2
  #81E4E0
 */

body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px;
}

:focus-visible {
    outline: none;
}

/* Channel numbers */

div#digit, #info li.row-1 {
    position: absolute;
    font-size: 5vw;
    color: #56D0CB;
    text-shadow: #333 0px 0px 5px;
}

div#digit {
    text-align: right;
    padding: 6% 10%;
    width: 80%;
}

div#error {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container {
    color: #FFF;
    background: #111111;
    border-radius: 2vw;
    opacity: 0.8;
    padding: 5vh 5vw;
    text-align: center;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.error-title {
    margin-top: 0;
    font-size: 3vw;
}

.error-message {
    font-size: 2vw;
}

.error-table {
    font-size: 1.5vw;
    white-space: pre-line;
    border-collapse: collapse;
    width: 100%;
}
table.error-table td,th {
    border: 2px solid #333;
    padding: 0vw 1vw ;
}
.table-container {
    max-height: 45vh;
    overflow: auto;
}

#info li.row-1 {
    width: 100%;
}

.notice-button {
    position: relative;
    display: inline-block;
    height: 5.5vh;
    line-height: 5.5vh;
    font-size: 1.4vw;
    border-radius: 1.5vw;
    padding: 0 2.5vw;
    background-color: rgba(255,255,255,.8);
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    user-select: none;
    transition: opacity 150ms,scale 150ms;
    color: #111;
    margin: 1vw 0.3vw 0 0.3vw;
    min-width: 10vw;
}